.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border-top: none;
    color: #b4bcc8;
}

.page-header.navbar {
    background-color: #282A3C;
}

.form-group-custom {
    width: 80%;
}

.custom-select {
    width: 200px;
}

.custom-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-bottom: none !important;
    border-left: none !important;
}

.custom-icons span {
    font-size: 25px;
    cursor: pointer;
}

.custom-icons a {
    display: block;
    margin-top: 10px;
}

.custom-icons .fa-edit:hover {
    color: #0b94ea;
}

.custom-icons .fa-times:hover {
    color: #ea0b0b;
}

.custom_bth{
    padding: 7px 10px!important;
    border-radius: 5px!important;
}
.label-success{
    background: #41C5DD!important;
    padding: 3px 5px!important;
    border-radius: 3px!important;
}
.label-new{
    background: #30ff02 !important;
    padding: 3px 5px!important;
    border-radius: 3px!important;
}
.alert-success{
    border-radius: 4px!important;
}
button.close{
    margin-top: 5px!important;
}

.form-control-max-content{
    min-width: max-content;
}
.custom-select-medium{
    max-width: 300px;
}
#contacts, #address, #rent_price, #rent_description{
    width: 400px;
}

.portlet.light.bordered{
    padding: 30px;!important;
}

.selected{
    background: #3E4B5C!important;
}

.dt-buttons{
    margin-top: -46px!important;
}

table.dataTable.dtr-column>tbody>tr>td.control:before, table.dataTable.dtr-column>tbody>tr>th.control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    box-shadow: none!important;
    background-color: #3fc9d5;
    font-weight: 300;
    vertical-align: middle;
    line-height: 16px;
    border: 0;
}

table.dataTable.dtr-column>tbody>tr.parent td.control:before, table.dataTable.dtr-column>tbody>tr.parent th.control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-color: #b0c1d2;
    font-weight: 300;
    vertical-align: middle;
    line-height: 18px;
    border: 0;
}
.badge-danger-custom{
    padding: 3px!important;
}

@media screen and (max-width: 640px) {
    div.dt-buttons{
        padding: 15px!important;
    }
}